*{
   margin: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu-interativo{
    background-image: url(./Imagem/imagemdetopo.svg);
    padding-top: 0px;
    height: 350px;
    
}
#menu-interativo,h1{ 
    text-align: center;
}

#button{
    margin-left: 540px;
    border-radius: 50px;
    padding: 0px;
    padding-bottom: 20px;
}
    
button{
    background-color: rgba(231, 209, 6, 0.849);
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
}
#palhaco:hover{
    background-color: rgb(111, 161, 11);
}
#palhaco{
    border: 2px solid rgb(5, 172, 5);
}

#face-main{
    background-color: rgb(180, 178, 178);
    border-radius: 5px;
    padding: 25px;
    margin-left: 250px;
    margin-right: 250px;
}

