body{
    background-image: url(./Imagem/Delegaciadegotham.jpg);
    background-size: cover;
    width: max-content;
    height: fit-content;
}

#menu-torre{
    background-color: rgb(24, 23, 23);
    color: rgb(253, 253, 253);
    border-radius: 5px;
    text-align: center;
    margin-left: 125px;
    margin-right: 100px;
    width: 99%;
    opacity: 0.5;
    padding: 10px;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#palhaco:hover{
    background-color: rgb(111, 161, 11);
}
#palhaco{
    border: 2px solid rgb(5, 172, 5);
}
button{
    background-color: rgb(39, 10, 168);
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 5px 45px 5px 45px;
    text-align: center;
    display: center;
}

#colection{
    
    margin-left: 300px;
    padding: 25px 5px;
}

img{
    width: 450px;
    height: 250px;
}

.polaroid{
    display: inline-table;
    margin: 20px 10px;
    text-align: center;
    border: 10px solid white;
    background-color: white;
    padding: 2px;
}
.polaroid:hover{
    transform: rotate(15deg) scale(1.2);
    
};


